<form [ngClass]="{'was-validated': wasValidate}" #cadastro="ngForm" [formGroup]="formCadastro" class="">
  <h2 class="mb-3 text-center">Cadastro de profissional</h2>

  <div class="row">
    <div class="form-floating mb-3 col input-group">

      <span class="input-group-text" id="inputGroupPrepend">Nome</span>
      <input formControlName="nome" #nome type="text" class="form-control" id="nome" required>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

  </div>
  <div class="row">
    <div class="form-floating mb-3 col input-group">

      <span class="input-group-text" id="inputGroupPrepend">Telefone</span>
      <input formControlName="telefone" #telefone type="text" class="form-control" id="telefone">

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

  </div>
  <div class="row">
    <div class="form-floating mb-3 col input-group">

      <span class="input-group-text" id="inputGroupPrepend">E-mail</span>
      <input formControlName="email" #email type="text" class="form-control" id="email">

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

  </div>
  <div class="row">
    <div class="form-floating mb-3 col input-group">

      <mat-form-field appearance="outline" id="tipoDeProfissional" class="w-100">
        <mat-label class="fs-6">Escolha o tipo do profissional</mat-label>
        <mat-select formControlName="tipoDeProfissional">
          <mat-option [value]="item.id" *ngFor="let item of tiposProfissionais">{{item.descricao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

  </div>




  <button class="w-100 btn btn-lg btn-primary" (click)="cadastrarProfissional()">Salvar</button>

</form>
